:root {

	--headercolor: blue;
	--headerbottomborder: 4px solid black;
	--headertextcolor: #fff;
	--border: 3px solid #000;
	--buttonbgcolor: lightgrey;
	--containerbgcolor: beige;
	--buttonborderradius: 4rem;

}

body {

	font-size: 100%;

}

.container {

	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 10px;
	background-color: var(--containerbgcolor);

}

header {

	background-color: var(--headercolor);
	color: var(--headertextcolor);
	margin: 0 -10px;
	padding: 2rem;
	font-family: "Press Start 2P", system-ui;
	margin-bottom: 1.2rem;
	border-bottom: var(--headerbottomborder);
	text-align: center;

}

header span {

	font-size: 1rem;
	vertical-align: middle;
}

button,
canvas {

	border: var(--border);

}


canvas {

	margin: 0 auto;
	display: block;
	width: 750px;
	height: 500px;

}

.otherbuttons {

	display: flex;
	justify-content: center;
	gap: 5%;
	font-size: 20px;

}

.otherbuttons button {

	margin: 20px 0;
	width: 9rem;
	border-radius: var(--buttonborderradius);
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 5px #6b6b6b;

}

.otherbuttons button:active {

	box-shadow: 0 5px #000000;
	transform: translateY(3px);

}

#startandstop {

	background-color: #00a800;

}

#step {

	background-color: rgb(199, 255, 255);

}

